.card {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 10px 0 #ccc;
}

@media screen and (max-width: 778px) {
  .card {
    height: 100px;
  }
}
